<div class="product-card">
  <div class="product-image-container">
    <a [routerLink]="['/product', product.id]">
      <app-cached-image 
        [src]="getPrimaryImage()" 
        [alt]="product.name" 
        [spinner]="true"
        spinnerColor="primary"
        fallbackSrc="assets/images/product-placeholder.svg"
        class="product-image"
        (imageLoaded)="onImageLoaded($event)">
      </app-cached-image>
    </a>
    
    <div class="favorite-button" (click)="toggleFavorite()" [class.active]="isFavorite">
      <ion-icon name="heart"></ion-icon>
    </div>
    
    <div class="discount-badge" *ngIf="product.on_sale">
      {{ getDiscountPercentage() }}%
    </div>
  </div>
  
  <div class="product-details">
    <a [routerLink]="['/product', product.id]" class="product-name">{{ product.name }}</a>
    
    <div class="product-price">
      <span class="current-price" [class.sale-price]="product.on_sale">
        {{ product.on_sale ? product.sale_price : product.regular_price }} <app-currency-icon size="small"></app-currency-icon>
      </span>
      <span class="original-price" *ngIf="product.on_sale">
        {{ product.regular_price }} <app-currency-icon size="small"></app-currency-icon>
      </span>
    </div>
    
    <div class="product-rating" *ngIf="product.average_rating !== '0'">
      <ion-icon name="star"></ion-icon>
      <span>{{ product.average_rating }}</span>
    </div>
    
    <button class="add-to-cart-button" (click)="addToCart()" *ngIf="showAddToCart">
      <ion-icon name="cart-outline"></ion-icon>
      إضافة للسلة
    </button>
  </div>
</div>