<!-- Bottom Tab Navigation -->
<div class="tab-bar-container" *ngIf="showTabs">
  <div class="tab-bar">
    <div class="tab-item" 
         [class.active]="activeTab === 'home'" 
         [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
      <span>الرئيسية</span>
    </div>
    
    <div class="tab-item" 
         [class.active]="activeTab === 'categories'" 
         [routerLink]="['/categories']">
      <ion-icon name="grid-outline"></ion-icon>
      <span>التصنيفات</span>
    </div>
    
    <div class="tab-item" 
         [class.active]="activeTab === 'wishlist'" 
         [routerLink]="['/wishlist']">
      <ion-icon name="heart-outline"></ion-icon>
      <span>المفضلة</span>
    </div>
    
    <div class="tab-item" 
         [class.active]="activeTab === 'profile'" 
         [routerLink]="['/profile']">
      <ion-icon name="person-outline"></ion-icon>
      <span>حسابي</span>
    </div>
  </div>
</div>